body {
  background-color: #fff;
  color: #000;
  margin: 50px;
  padding: 0px;
  font-family: Helvetica;
}
body h1 {
  margin-bottom: 30px;
  font-weight: 900;
}
body pre {
  color: #888;
  font-family: monospace;
}
